<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" container="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <form action="/result" method="POST">
        <div id="'container">
            <div class="rectangle">
                <h1>Drug Comparison App</h1>
            </div>
            <div class="rectangle1">
            <input type="text" name="content1" id="content1">
            </div>
            <div class="rectangle1">
                <input type="text" name="content2" id="content2">
            </div>
            <div class="rectangle1">
                <input type="text" name="content3" id="content3">
            </div>
            <div class="square">
                <img id="image" src="pgf.png">
            </div>
            <div class="button">
                <button>
                    <b>Wyszukaj</b>
                </button>
            </div>
            <div class="footer">
                Wszelkie prawa zastrzeżone
            </div>
        </form>
    </div>
</body>
</html>